.socials {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero__socials {
  margin-top: 250px;
}
.socials__item{
  margin-right: 20px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__link{
  fill: var(--button-color);
}
.socials__link:hover, .socials__link:focus{
  fill: var(--accent-color);
}