:root {
  --primary-font-family: "Noto Sans", sans-serif;

  --primary-text-color: #303030;
  --secondary-text-color: #868585;
  --tertiary-text-color: #ffffff;
  --accent-color: #a9a32a;

  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --button-color: #fff;

  --icon-fill: #afb1b8;
}
